# ignore all files within any directory of any depth named "homework"

linear/homework

personal-finance/homework

sde/homework

entp/homework

cso/homework
cso/labs
# ignore summer
cso/summer-learning

# ignore summer internships
summer_internship

# no DS_Store
.DS_Store

# ignore entp hw
entp/homeworks

# ignore all files except images, md, pdf, R, java, class
*.*
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.bmp
!*.tif
!*.tiff
!*.md
!*.markdown
!*.txt
!*.pdf
!*.R
!*.java
!*.class
